// #########_Link_###################################################

@import "_vars";
@import "_fonts";

// // #########_Cancellation_###################################################

html,
body {
  box-sizing: border-box;
  font-size: 20px;
  height: 100%;
  font-family: "Graphik LCG";
  font-weight: 400;
  line-height: 1.5;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  overflow-x: hidden;
  z-index: 1;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

._container {
  max-width: 1290px;
  margin: 0px auto;
  position: relative;
}

// #########_Header_###################################################
.menu {
  border-bottom: 1px solid rgba(204, 204, 204, 1);
}

.menu__body {
  display: flex;
  justify-content: space-between;
  padding: 35px 0px 35px 0px;
}

.menu__link {
  display: flex;
  gap: 50px;
  align-items: center;
  & a {
    color: black;
    font-size: 15px;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
      transition: all 0.5s ease;
      color: $top_color;
    }
  }
}

.menu__button {
  & a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
  }
  & .button-1 {
    color: black;
    padding: 15px 35px 15px 35px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    margin-right: 10px;
    &:hover {
      color: white;
      background-color: $top_color;
      border: 1px solid rgba(255, 255, 255, 0.5);
      transition: all 0.5s ease;
    }
  }
  & .button-2 {
    color: white;
    padding: 15px 25px 15px 25px;
    background-color: $top_color;
    border: 1px solid $top_color;
    &:hover {
      color: $top_color;
      background-color: white;
      transition: all 0.5s ease;
    }
  }
}
// #########_Main_###################################################
.top-site__body {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  margin-bottom: 200px;
}

.top-site__title {
  min-width: 560px;
  max-width: 560px;
  color: #000;
  .title {
    font-size: 65px;
    font-weight: 600;
    line-height: 1.1;
    margin-bottom: 0.8em;
  }
  & .text {
    font-size: 25px;
    line-height: 1.4;
    margin-bottom: 2em;
  }
  & .text-2 {
    font-size: 15px;
  }
}

.top-site__button {
  font-size: 16px;
  margin-bottom: 2.5em;
  & .button-1 {
    text-decoration: none;
    background-color: $top_color;
    border: 1px solid $top_color;
    padding: 15px 40px 15px 40px;
    color: #fff;
    font-weight: 600;
    margin-right: 10px;
    &:hover {
      background-color: transparent;
      color: $top_color;
      transition: all 0.5s ease;
    }
  }
  & .button-2 {
    color: #000;
    font-weight: 600;
    text-decoration: none;
    padding: 15px 30px 15px 30px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    &:hover {
      background-color: $top_color;
      border: 1px solid $top_color;
      color: white;
      transition: all 0.5s ease;
    }
  }
}

.companies {
  background-color: #ff9c7d;
  margin-bottom: 100px;
}

.companies__body {
  padding: 90px 0px 90px 0px;
  & .title {
    margin: 0 auto;
    text-align: center;
    width: 720px;
    font-size: 50px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 1.4em;
  }
}

.companies__line {
  display: flex;
  gap: 100px;
  align-items: center;
  & a {
    margin: 0 auto;
  }
}

.cards__body {
  display: flex;
  flex-direction: column;
  gap: 250px;
}

.card {
  display: flex;
  gap: 150px;
  justify-content: space-between;
  margin-bottom: 150px;
}

.reverse {
  flex-direction: row-reverse;
}

.cards__title {
  margin-top: auto;
  margin-bottom: auto;
  max-width: 520px;
  min-width: 520px;
  & .title {
    font-size: 50px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 0.6em;
  }

  & .link {
    color: #000;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
      color: $top_color;
      transition: all 0.5s ease;
    }
  }
}

.secondary-link {
  color: black;
  &:hover {
    color: $top_color;
    transition: all 0.5s ease;
  }
}

.localize-with-lokalise {
  background-color: rgba(255, 248, 228, 1);
}

.localize-with-lokalise__body {
  padding: 120px 0px 120px 0px;
  display: flex;
  gap: 120px;
  flex-wrap: wrap;
  margin-bottom: 150px;
  & h2 {
    margin: 0 auto;
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 1.6em;
  }
  .localize-with-lokalise__card {
    text-align: center;
    max-width: 320px;
    min-width: 320px;
    margin: 0 auto;
    & h3 {
      font-size: 25px;
      font-weight: 600;
      margin-top: 25px;
      margin-bottom: 20px;
    }
    & p {
      font-size: 18px;
      line-height: 1.4;
    }
  }
}

.teams-productivity__body {
  padding-bottom: 200px;
  & h2 {
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 1.8em;
  }
  .teams-productivity__line {
    display: flex;
    gap: 30px;
    .teams-productivity__card {
      max-width: 400px;
      min-width: 400px;
      margin: 0 auto;
      & h3 {
        font-size: 30px;
        font-weight: 600;
        margin-top: 50px;
        margin-bottom: 35px;
      }
      & p {
        margin-bottom: 25px;
      }
      & a {
        color: black;
        &:hover {
          color: $top_color;
          transition: all 0.5s ease;
        }
      }
    }
  }
}

.quote {
  background-color: #c9e8f2;
  padding: 50px 0px 100px 0px;
  .quote__body {
    display: flex;
    justify-content: space-between;
    & .section-1 {
      max-width: 900px;
      min-width: 900px;
      & .text-1 {
        font-size: 30px;
        line-height: 1.3;
        margin-bottom: 25px;
      }
      & .text-2 {
        font-family: Roboto;
        font-size: 15px;
        line-height: 1.6;
        margin-bottom: 10px;
      }
    }
  }
}

.software {
  background-color: rgba(218, 188, 152, 1);
  padding: 85px 0px 85px 0px;
  margin-bottom: 165px;
}

.software__body {
  display: flex;
  justify-content: space-between;
  & .section-1 {
    display: flex;
    gap: 70px;
    max-width: 800px;
    min-width: 800px;
    align-items: center;
    & h2 {
      font-size: 35px;
      font-weight: 600;
      line-height: 1.4;
    }
  }
  & .section-2 {
    display: flex;
    padding: 30px 0px 30px 70px;
    gap: 70px;
    border-left: 2px solid black;
    & .block {
      & p {
        font-size: 15px;
        letter-spacing: 0.75px;
        margin-top: -5px;
      }
      & img {
        margin-bottom: 20px;
      }
    }
  }
}

.localize-integration__body {
  margin-bottom: 150px;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  & h2 {
    max-width: 800px;
    min-width: 800px;
    font-size: 65px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 0.2em;
  }
  & p {
    max-width: 550px;
    min-width: 550px;
    font-size: 25px;
    line-height: 1.2;
    margin-bottom: 1.2em;
  }
  & a {
    color: #fff;
    margin-top: 30px;
    padding: 20px;
    background-color: $top_color;
    border: 1px solid $top_color;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    &:hover {
      color: $top_color;
      background-color: transparent;
      transition: all 0.5s ease;
    }
  }
}

.localization {
  background-color: #ff9c7d;
  padding: 150px 0px 150px 0px;
  text-align: center;
  .localization__body {
    & h2 {
      max-width: 780px;
      min-width: 780px;
      margin: 0 auto;
      margin-bottom: 30px;
      font-size: 65px;
      font-weight: 600;
      line-height: 75px; /* 115.385% */
    }
    & p {
      margin-bottom: 2.5em;
    }
    & a {
      color: #fff;
      font-size: 17px;
      font-weight: 600;
      padding: 20px 40px 20px 40px;
      text-decoration: none;
      background-color: black;
      &:hover {
        background-color: $top_color;
        transition: all 0.5s ease;
      }
    }
  }
}
// #########_Footer_###################################################
.footer {
  background-color: rgba(238, 238, 238, 1);
  padding: 100px 0px 50px 0px;
}

.footer__up {
  display: flex;
  margin-bottom: 95px;
  & .case-studies {
    max-width: 310px;
    min-width: 300px;
    & h2 {
      font-size: 40px;
      font-weight: 600;
      line-height: 1.25;
      margin-bottom: 0.8em;
    }
    & img[alt="specialized"] {
      margin-top: 30px;
      margin-bottom: 10px;
    }
    & p {
      margin-bottom: 15px;
    }
    & a {
      color: #000;
      font-weight: 600;
      text-decoration: none;
      &:hover {
        color: $top_color;
        text-decoration: underline;
        transition: all 0.5s ease;
      }
    }
  }
  & .footer__link-cards {
    margin-left: 140px;
    display: flex;
    gap: 30px;
  }
  & .footer__link-card {
    display: flex;
    flex-direction: column;
    max-width: 187px;
    min-width: 187px;
    & h3 {
      font-weight: 600;
      margin-bottom: 1em;
    }
    & a {
      margin-bottom: 15px;
      color: #000;
      font-size: 15px;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
        color: $top_color;
        transition: all 0.5s ease;
      }
    }
  }
}

.footer__bottom {
  border-top: 2px solid black;
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  & p {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.25;
    max-width: 300px;
  }
  & .left {
    & img {
      margin-right: 15px;
    }
    display: flex;
  }
}
