// #########_Link_###################################################

@import "_vars";
@import "_fonts";

// #########_Cancellation_###################################################

html,
body {
  box-sizing: border-box;
  font-size: 18px;
  height: 100%;
  font-family: "Bai Jamjuree";
  color: #161616;
  background-color: #f2f1ef;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  overflow-x: hidden;
}

a {
  color: $black;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.footer {
  margin-top: auto;
}

._container {
  max-width: 1280px;
  margin: 0px auto;
}

._container_2 {
  max-width: 1060px;
  margin: 0px auto;
}

// #########_Header_###################################################

.header__body {
  display: flex;
  height: 96px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.header__logo {
  background-image: url(../images/header/logo.svg);
  width: 131px;
  height: 32px;
}

.header__link {
  display: flex;
  gap: 32px;
  align-items: center;
  & a {
    font-size: 16px;
    &:hover {
      color: $top_color;
      transition: all 0.8s ease;
    }
  }
}

.header__button {
  & a {
    padding: 9px 26px 9px 26px;
    border: 1px solid $black;
    text-decoration: none;
    font-size: 16px;
    &:hover {
      background-color: $top_color;
      transition: all 0.5s ease;
      color: rgba(255, 255, 255, 1);
    }
  }
}

// #########_Main_###################################################

.title__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

.title__info {
  & h1 {
    font-size: 56px;
    line-height: 1.2;
    letter-spacing: 0.56px;
    margin-bottom: 0.6em;
    overflow-y: hidden;
    & img {
      width: 40px;
    }
  }
  & p {
    font-size: 23px;
    letter-spacing: 0.48px;
    margin-bottom: 40px;
  }
}

.title__button {
  display: flex;
  width: 310px;
  font-size: 16px;
  .button_1 {
    padding: 13px 33px 13px 33px;
    background-color: $black;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    border: 1px solid $black;
    border-right: 0px;
    &:hover {
      background-color: $top_color;
      transition: all 0.5s ease;
    }
  }
  .button_2 {
    padding: 13px 33px 13px 33px;
    text-decoration: none;
    border: 1px solid $black;
    &:hover {
      background-color: $top_color;
      color: rgba(255, 255, 255, 1);
      transition: all 0.5s ease;
    }
  }
}

.line__body {
  background-color: $black;
  transform: rotate(-5deg);
  position: relative;
  left: -15px;
  width: 105vw;
  padding: 15px 30px 15px 30px;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 150px;
}

.line__animations {
  display: flex;
  gap: 60px;
  animation: line__animations 15s linear 1s infinite;
}

@keyframes line__animations {
  from {
    transform: translateX(120%);
    transform-origin: left center;
  }
  to {
    transform: translateX(-120%);
    transform-origin: right center;
  }
}

.cell {
  display: flex;
  gap: 5px;
  margin: 0 auto;
}

.biography__body {
  display: flex;
  gap: 10%;
  margin-bottom: 120px;
}

.biography__section-one {
  & p {
    display: flex;
    margin-bottom: 20px;
    & img {
      margin: 0px 8px;
    }
  }
  & h2 {
    font-size: 56px;
    line-height: 1.2;
    letter-spacing: 0.56px;
    overflow-y: hidden;
  }
}

.biography__section-two {
  .text-one {
    font-size: 31px;
    line-height: 40px;
    letter-spacing: 1.2;
    margin-bottom: 0.86em;
  }
}

.biography__cards {
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
}

.card {
  & h3 {
    color: #e94d35;
    font-size: 12px;
    margin-bottom: 0.8em;
  }
  & p {
    font-size: 23px;
    letter-spacing: 0.48px;
  }
}

.number-of-projects__body {
  display: flex;
  margin-bottom: 120px;
}

.number-of-projects__cell--black {
  background-color: $black;
  color: rgba(255, 255, 255, 1);
}

.number-of-projects__cell {
  border: 2px solid $black;
  width: 50%;
  padding: 20px 0px 20px 0px;

  .number {
    overflow-y: hidden;
    text-align: center;
    font-size: 56px;
    margin-bottom: 10px;
  }
  .text {
    text-align: center;
    font-size: 16px;
    letter-spacing: 1.28px;
    text-transform: uppercase;
  }
}

.caption__body {
  text-align: center;
  margin-bottom: 60px;
  & h2 {
    margin-top: 0.4em;
    margin-bottom: 0.22em;
    font-size: 45px;
    letter-spacing: 1.44px;
  }
  & p {
    letter-spacing: 1.44px;
  }
}

.projects__body {
  margin-bottom: 120px;
  & a {
    text-decoration: none;
    &:hover {
      color: rgba(255, 255, 255, 1);
      .projects__card {
        background-color: $black;
        border: 2px solid $top_color;
        transition: all 0.5s ease;
      }
    }
  }
}

.projects__card {
  display: flex;
  justify-content: space-between;
  border: 2px solid $black;
  padding: 35px;
  margin-bottom: 25px;
}

.projects__info {
  display: flex;
  align-items: center;
  gap: 25px;
  .number {
    & p {
      padding: 13px 21px 13px 21px;
      background-color: $top_color;
      color: rgba(255, 255, 255, 1);
    }
  }
  .text {
    & h3 {
      font-size: 23px;
      letter-spacing: 0.48px;
    }
    & p {
      line-height: 32px;
    }
  }
}

.projects__data {
  display: flex;
  align-items: center;
}

.portfolio__link {
  text-decoration: none;
  &:hover {
    .portfolio__card {
      .section__link {
        text-decoration: underline;
        color: $top_color;
      }
    }
  }
}

.portfolio__body {
  margin-bottom: 120px;
}

.portfolio__card {
  display: flex;
  gap: 45px;
  margin-bottom: 95px;
}

.row-reverse {
  flex-direction: row-reverse;
}

.section__img {
  min-width: 460px;
}

.section__info {
  padding: 20px 0px 20px 0px;
  .section__company {
    display: inline-block;
    padding: 5px 15px 5px 15px;
    background-color: $top_color;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 1.44px;
    text-transform: uppercase;
    margin-bottom: 1.9em;
  }
  & h3 {
    font-size: 45px;
    line-height: 56px;
    letter-spacing: 1.44px;
    margin-bottom: 50px;
  }
  & a {
    text-decoration: none;
  }
}

.services__body {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 120px;
}

.articles__decore {
  position: absolute;
  right: 0;
  right: -130px;
  & img {
    width: 240px;
  }
}

.line-cards {
  display: flex;
  gap: 40px;
  & a {
    text-decoration: none;
    width: 48%;
    &:hover {
      background-color: $black;
      color: rgba(255, 255, 255, 1);
      transition: all 0.5s ease;
      .line-cards__card {
        border: 2px solid $top_color;
      }
    }
  }
}

.line-cards__card {
  border: 2px solid $black;
  padding: 35px;
  & h3 {
    font-size: 31px;
    letter-spacing: 0.64px;
    margin-bottom: 1em;
  }
  & p {
    line-height: 1.7;
  }
}

.customer-companies__body {
  margin-bottom: 120px;
}

.customer-companies__line {
  display: flex;
  gap: 32px;
  margin-bottom: 32px;
  & svg {
    margin-left: auto;
    margin-right: auto;
  }
  & a {
    &:hover {
      .customer-companies__card {
        border: 1px solid $top_color;
        background-color: $black;
        transition: all 0.5s ease;
        & svg {
          & path {
            fill: rgba(255, 255, 255, 1);
          }
        }
      }
    }
  }
}

.customer-companies__card {
  display: flex;
  border: 1px solid $black;
  width: 240px;
  padding: 40px 0px 40px 0px;
}

.articles__body {
  margin-bottom: 120px;
}

.articles__line {
  display: flex;
  justify-content: space-between;
  border: 2px solid $black;
  padding: 20px;
  margin-bottom: 100px;
  align-items: center;
}

.articles__section-1 {
  width: 45%;
  .tema-and-data {
    color: #e94d35;
    font-size: 16px;
    letter-spacing: 1.28px;
    text-transform: uppercase;
    margin-bottom: 5px;
  }
  .name {
    font-size: 23px;
    letter-spacing: 0.48px;
  }
}

.articles__section-2 {
  width: 45%;
  & p {
    font-size: 16px;
    line-height: 1.5;
  }
}

.articles__line-link {
  text-decoration: none;
  &:hover {
    .articles__line {
      background-color: $black;
      color: rgba(255, 255, 255, 1);
      transition: all 0.5s ease;
      border: 2px solid $top_color;
    }
  }
}

.articles__button {
  display: flex;
  border: 2px solid $black;
  & a {
    width: 100%;
    background-color: $black;
    padding: 15px 0px 15px 0px;
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    font-size: 20px;
    &:hover {
      background-color: $top_color;
    }
  }
}

.input {
  background-color: #e6e3de;
}

.input__body {
  display: flex;
  justify-content: space-between;
  padding: 70px 0px 70px 0px;
  align-items: center;
}

.input__section-1 {
  & p {
    font-size: 23px;
    letter-spacing: 0.48px;
  }
}

.input__section-2 {
  display: flex;
  gap: 40px;
  & input {
    width: 355px;
    border: 2px solid $black;
    padding: 15px 20px 15px 20px;
    font-size: 23px;
    color: #161513;
    background-color: transparent;
    letter-spacing: 0.48px;
    outline: none;
    &::placeholder {
      color: #161513;
    }
  }
  & a {
    color: rgba(255, 255, 255, 1);
    font-size: 23px;
    letter-spacing: 0.48px;
    text-decoration: none;
    padding: 13px;
    background-color: $black;
    border: 2px solid $black;
    &:hover {
      background-color: $top_color;
      transition: all 0.5s ease;
    }
  }
}
// #########_Footer_###################################################

.footer {
  background-color: $black;
}

.footer__body {
  padding: 65px 0px 25px 0px;
}

.footer__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  & a {
    &:hover {
      & svg {
        & path {
          fill: $top_color;
          transition: all 0.5s ease;
        }
      }
    }
  }
}

.footer__link {
  display: flex;
  gap: 45px;
  & a {
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    text-decoration: none;
    &:hover {
      color: $top_color;
      transition: all 0.5s ease;
      text-decoration: underline;
    }
  }
}

.footer__bottom {
  align-items: center;
  display: flex;
  justify-content: space-between;
  .footer__text {
    & p {
      color: rgba(255, 255, 255, 1);
      font-size: 14px;
    }
  }
}

.footer__social-network-link {
  display: flex;
  gap: 15px;
  & a {
    &:hover {
      & svg {
        & path {
          stroke: $top_color;
          transition: all 0.5s ease;
        }
      }
    }
  }
}
