// #########_Link_###################################################

@import "_vars";
@import "_fonts";

// #########_Cancellation_###################################################

html,
body {
  box-sizing: border-box;
  font-size: 16px;
  height: 100%;
  font-family: Roboto;
  font-style: normal;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.footer {
  margin-top: auto;
}
._container {
  max-width: 1100px;
  margin: 0px auto;
}

// #########_Header_###################################################

.header {
  background-color: rgba(238, 239, 241, 1);
}

.menu__body {
  padding-top: 8%;
}

.menu__link {
  display: inline-block;
  & a {
    margin-right: 40px;
    text-decoration: none;
    color: black;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    transition: all 0.5s ease;
    &:hover {
      color: $top_color;
      transition: all 0.5s ease;
    }
  }
  .activated {
    color: $top_color;
  }
}

.header__title {
  margin-top: 14%;
  width: 540px;
  margin-bottom: 14%;
  & h1 {
    color: black;
    font-size: 48px;
    font-weight: 500;
    line-height: 1.6;
    margin-bottom: 1.25em;
  }
  & p {
    color: #727272;
    font-weight: 400;
    line-height: 1.6;
    margin-bottom: 3.75em;
  }
  & a {
    text-decoration: none;
    max-width: 225px;
    width: 55%;
    background-color: $top_color;
    padding: 20px 40px 20px 40px;
    color: #fff;
    text-align: center;
    font-weight: 400;
    letter-spacing: 1.6px;
    transition: all 0.5s ease;
    &:hover {
      transition: all 0.5s ease;
      background-color: gold;
    }
  }
}

// #########_Main_###################################################

.main {
  background-color: #f9f9f9;
}
.title__body {
  width: 540px;
  margin-top: 6%;
  margin-bottom: 5%;
  & h2 {
    color: #000;
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 1.5em;
  }
  & p {
    color: #727272;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
  }
}

.projects {
  background-color: $top_color;
  padding: 100px 100px 100px 100px;
}

.projects__body {
  width: 960px;
}

.project {
  width: 130px;
  display: inline-flex;
  .projects__img {
    width: 50px;
    min-width: 50px;
    margin-right: 20px;
  }
}

.project__margin {
  margin-right: 40px;
}

.projects__title {
  color: #fff;
  .projects__quantity {
    font-size: 21px;
    font-weight: 500;
  }
  & p {
    font-weight: 400;
  }
}

.main__video {
  margin-left: auto;
  margin-right: auto;
  width: 1110px;
  height: 600px;
  margin-bottom: 5%;
}

// #########_Footer_###################################################

.footer {
  background-color: $top_color;
  padding: 50px 20px 50px 20px;
}

.footer__info {
  margin-right: auto;
  width: 170px;
  color: #fff;
  & h3 {
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 20px;
  }
  & p {
    font-size: 13px;
    font-weight: 400;
  }
}
